<div class="tab-content">
	<div id="database">
		<ul class="database">
            <li v-for="dir in pandoraDirectories">
				<div class="db-icon db-browse folder">
					<i class="fa sx db-browse" v-bind:class="{ 'fa-product-hunt': dir.Type == 'PandoraDirectory', 'fa-music': dir.Type != 'PandoraDirectory'}"></i>
				</div>
				<div class="db-action">
					<a href="#" title="Actions" data-toggle="context" data-target="#context-menu">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
				<div class="db-entry db-browse db-folder" v-on:click="openPandora(dir)">
					{{ dir.Name }}
				</div>
			</li>
			<li v-for="file in files" data-path="{{ file.file }}">
				<div class="db-icon db-browse" v-bind:class="{ 'db-other': file.Time === undefined, 'db-song' : file.Time !== undefined }">
					<i class="fa fa-music sx db-browse"></i>
				</div>
				<div class="db-action">
					<a href="#notarget" title="Actions" data-toggle="context" data-target="#context-menu">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
				<div class="db-entry db-browse" v-bind:class="{ 'db-other': file.Time === undefined, 'db-song' : file.Time !== undefined }" v-on:click="playSong(file)">
					{{ getFileName(file) }}
					<em class="songtime"> {{ file.Time }}</em>
					<span>{{ getAlbumArtist(file) }}</span>
				</div>
			</li>
			<li v-for="dir in mpdDirectories" data-path="{{ dir.directory }}">
				<div class="db-icon db-folder db-browse">
					<i class="fa sx" v-bind:class="{'icon-root': ['WEBRADIO', 'USB', 'SPOTIFY', 'RAMPLAY', 'NAS', 'PANDORA'].indexOf(dir.directory) !== -1, 'fa-microphone' : dir.directory == 'WEBRADIO', 'fa-code-fork': dir.directory == 'NAS', 'fa-usb': dir.directory == 'USB', 'fa-spinner': dir.directory == 'RAMPLAY'}"></i>
				</div>
				<div class="db-action">
					<a href="#notarget" title="Actions" data-toggle="context" data-target="#context-menu">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
				<div class="db-entry db-folder db-browse" v-on:click="openDirectory(dir)">
					<template v-if="dir.DisplayName">
						{{ dir.DisplayName }}
					</template>
					<template v-if="!dir.DisplayName">
						{{ dir.directory.substr(dir.directory.lastIndexOf('/') + 1, dir.directory.length - dir.directory.lastIndexOf('/') + 1); }}
					</template>
				</div>
			</li>	
			<li v-for="track in spotifyTracks" data-path="{{ track.SpopTrackUri }}">
				<div class="db-icon db-browse">
					<i class="fa fa-spotify sx db-browse"></i>
				</div>
				<div class="db-action">
					<a href="#" title="Actions" data-toggle="context" data-target="#context-menu-spotifytrack">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</div>
                <div id="context-menu-spotifytrack" class="context-menu">
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a v-on:click="play(track)" data-cmd="spop-playtrackuri">
                                <i class="fa fa-share sx"></i>Play
                            </a>
                        </li>
                        <li>
                            <a v-on:click="add(track)" data-cmd="spop-addtrackuri">
                                <i class="fa fa-plus sx"></i>Add to queue
                            </a>
                        </li>
                        <li>
                            <a v-on:click="searchTitle(track)" data-cmd="spop-searchtitle">
                                <i class="fa fa-headphones sx"></i>Search title
                            </a>
                        </li>
                        <li>
                            <a v-on:click="searchArtist(track)" data-cmd="spop-searchartist">
                                <i class="fa fa-user sx"></i>Search artist
                            </a>
                        </li>
                        <li>
                            <a v-on:click="searchAlbum(track)" data-cmd="spop-searchalbum">
                                <i class="fa fa-circle sx"></i>Search album
                            </a>
                        </li>
                    </ul>
                </div>
				<div class="db-entry db-browse" v-on:click="play(track)">
					{{ track.Title }} <em class="songtime"> {{ track.Time }}</em>
					<span> {{ track.Artist }} - {{ track.Album }}</span>
				</div>
			</li>		
			<li v-for="dir in spotifyDirectories" data-path="{{ dir.directory }}">
				<div class="db-icon db-folder db-browse">
					<i class="fa sx" v-bind:class="{ 'fa-folder-open' : dir.SpopPlaylistIndex === undefined && dir.directory !== 'SPOTIFY', 'fa-list-ol': dir.SpopPlaylistIndex !== undefined, 'fa-spotify' : dir.directory == 'SPOTIFY', 'icon-root' : dir.directory == 'SPOTIFY'}"></i>
				</div>
				<template v-if="dir.SpopPlaylistIndex !== undefined">
					<div class="db-action">
						<a href="#notarget" title="Actions" data-toggle="context" data-target="#context-menu-spotifyplaylist">
							<i class="fa fa-ellipsis-v"></i>
						</a>
					</div>
				</template>
				<div class="db-entry db-folder db-browse" v-on:click="openDirectory(dir)">
					{{ dir.DisplayName === undefined ? dir.directory : dir.DisplayName }}
				</div>
			</li>
			<li v-if="isLibrary" id="#db-plug-lib" class="db-plugin" onclick="showLibraryView()">
				<div class="db-icon db-other">
					<i class="fa fa-columns icon-root sx"></i>
				</div>
				<div class="db-entry db-other">
					LIBRARY
				</div>
			</li>
			<!--<li class="clearfix"><div class="db-entry">Unknown Song <span>Unknown Artist - Unknown Album</span></div></li>-->
		</ul>
	</div>	
</div>