<form v-on:submit="addPlaylist(newPlaylist); return false;">
    <div class="input-group">
        <input type="text" v-model="newPlaylist" class="form-control" placeholder="Add new playlist">
        <span class="input-group-btn">
            <button class="btn" type="submit">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
</form>
<ul class="database">
    <li v-for="dir in playlists">
        <div class="db-icon db-folder db-browse">
            <i class="fa sx" v-bind:class="{ 'fa-folder-open' : dir.type === 'folder', 'fa-list-ol': dir.type === 'playlist', 'fa-spotify' : dir.directory == 'SPOTIFY', 'icon-root' : dir.directory == 'SPOTIFY'}"></i>
        </div>
        <template v-if="dir.type === 'playlist'">
            <div class="db-action">
                <a href="#notarget" title="Actions" data-toggle="context" data-target="#context-menu-spotifyplaylist">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
            </div>
        </template>
        <div class="db-entry db-folder db-browse" v-on:click="openDirectory(dir)">
            {{ dir.name === undefined ? dir.directory : dir.name }}
        </div>
    </li>
</ul>