<div class="tab-content">
	<div id="playlist">
		<ul class="playlist">
			<li id="pl-{{ song.index }}" v-for="song in mpdSongs">
				<div class="pl-action" v-on:click="removeMpdSong(song)">
					<a href="#notarget" title="Remove song from playlist">
						<i class="fa fa-trash"></i>
					</a>
				</div>
				<div class="pl-entry" v-on:click="playMpdSong(song)">
					{{ song.title }}
					<span>
						{{ song.artist }} - {{ song.album }}
					</span>
				</div>
			</li>
			<li id="pl-{{ song.index }}" v-for="song in spotifySongs">
				<div class="pl-action" v-on:click="removeSpotifySong(song)">
					<a href="#notarget" title="Remove song from playlist">
						<i class="fa fa-trash"></i>
					</a>
				</div>
				<div class="pl-entry" v-on:click="playSpotifySong(song)">
					{{ song.title }}
					<span>
						{{ song.artist }} - {{ song.album }}
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>